.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form input[type="text"],
.form select {
  padding: 1rem;
  background-color: transparent;
  border: 0.3rem solid var(--black);
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 1rem;
}

.form label {
  font-size: 1.8rem;
  font-weight: 700;
}

.field ::placeholder {
  color: var(--black);
}

.form input[type="text"]:focus-visible,
.form select:focus-visible {
  outline: rgb(64, 203, 224) auto 0.3rem;
}

.submit {
  border: none;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background-color: var(--white);
  color: black;
}
